<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <%- include ('partials/head') %>
</head>
<body>
    <%- include ('partials/nav') %>
    <header class="__header">
        <h2>ESTA ES LA PÁGINA ACERCA DE NOSOTROS</h2>
        <p>En esta página encontrarás información sobre nosotros y nuestro equipo de trabajo.</p>
    </header>    

    <%- include ('partials/footer') %>
</body>
</html>