<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopción</title>
    <%- include ('partials/head') %>
</head>

<body>
    <%- include ('partials/nav') %>
        <h2>ESTA ES LA PÁGINA DE ADOPCIÓN</h2>
        <div class="card" style="display:inline-block ;width: 18rem;">
            <img src="img/Bojack Horseman frente a una ventana_xtrafondos.com.jpg" class="card-img-top" alt="Bojack?">
            <div class="card-body">
                <h5 class="card-title">Coco</h5>
                <p class="card-text">Hermosa labrador chocolate</p>
                <a href="#" class="btn btn-primary">Lo quiero!</a>
            </div>
        </div>
        <div class="card" style="display:inline-block ;width: 18rem;">
            <img src="img/Bojack Horseman frente a una ventana_xtrafondos.com.jpg" class="card-img-top" alt="Bojack?">
            <div class="card-body">
                <h5 class="card-title">Coco</h5>
                <p class="card-text">Hermosa labrador chocolate</p>
                <a href="#" class="btn btn-primary">Lo quiero!</a>
            </div>
        </div>
        <div class="card" style="display:inline-block ;width: 18rem;">
            <img src="img/Bojack Horseman frente a una ventana_xtrafondos.com.jpg" class="card-img-top" alt="Bojack?">
            <div class="card-body">
                <h5 class="card-title">Coco</h5>
                <p class="card-text">Hermosa labrador chocolate</p>
                <a href="#" class="btn btn-primary">Lo quiero!</a>
            </div>
        </div>
        <div class="card" style="display:inline-block ;width: 18rem;">
            <img src="img/Bojack Horseman frente a una ventana_xtrafondos.com.jpg" class="card-img-top" alt="Bojack?">
            <div class="card-body">
                <h5 class="card-title">Coco</h5>
                <p class="card-text">Hermosa labrador chocolate</p>
                <a href="#" class="btn btn-primary">Lo quiero!</a>
            </div>
        </div>
        <div class="card" style="display:inline-block ;width: 18rem;">
            <img src="img/Bojack Horseman frente a una ventana_xtrafondos.com.jpg" class="card-img-top" alt="Bojack?">
            <div class="card-body">
                <h5 class="card-title">Coco</h5>
                <p class="card-text">Hermosa labrador chocolate</p>
                <a href="#" class="btn btn-primary">Lo quiero!</a>
            </div>
        </div>
        <div class="card" style="display:inline-block ;width: 18rem;">
            <img src="img/Bojack Horseman frente a una ventana_xtrafondos.com.jpg" class="card-img-top" alt="Bojack?">
            <div class="card-body">
                <h5 class="card-title">Coco</h5>
                <p class="card-text">Hermosa labrador chocolate</p>
                <a href="#" class="btn btn-primary">Lo quiero!</a>
            </div>
        </div>
        <%- include ('partials/footer') %>
</body>

</html>