<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos</title>
    <%- include ('partials/head') %> <!-- se incluye el head hecho en el archivo head.ejs -->
</head>
<body>
    <%- include ('partials/nav') %> <!-- se incluye la navegación hecha en el archivo nav.ejs -->
    <h1>ESTA ES LA PÁGINA DE CONTACTO</h1> 

    <%- include ('partials/footer') %> <!-- se incluye el footer hecho en el archivo footer.ejs -->
</body>
</html>