<footer class="__footer">
        <p>&copy; <%= new Date().getFullYear() %> - , Perrhijos Veterinaria</</p>
        <script src="scripts/script.js"></script> <!-- se agregan los scripts de js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> <!-- se agregan los scripts de bootstrap -->
</footer>